<div className="item">
    <figure>
        <a className="aa-product-img" >
            <img src="https://www.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg" alt="polo shirt img"/>
        </a>
        <a className="aa-add-card-btn">
            <span className="fa fa-shopping-cart"></span>Add To Cart</a>
        <figcaption>
            <h4 className="aa-product-title">
                <a >  product.title </a>
            </h4>
            <span className="aa-product-price">  10.000 VND </span>
        </figcaption>
    </figure>
</div>